.header__lang-link {
  font: 400 24px/1.17 'Inter';
  color: #fff;
  margin: 0 0 0 18px;
  padding: 0;
  position: relative;
  text-decoration: none;
  /*background: none;
  border: none;*/
}

.header__lang-link:first-child {
  margin-left: 0;
}

@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
  }
}