.cover__subtitle {
  margin: 32px 0 0 0;
  padding: 0;
  max-width: 360px;
  font: 400 18px/1.2 'Inter', sans-serif;
  color: #fff;
  text-align: center;
  z-index: 2;
}

@media (max-width: 767px) {
  .cover__subtitle {
    max-width: 370px;
    font-size: 16px;
  }
}

@media (max-width: 549px) {
  .cover__subtitle {
    margin-top: 16px;
    max-width: 270px;
    font-size: 14px;
    line-height: 1.14;
  }
}