.lead__title {
  margin: 0;
  padding: 0;
  max-width: 720px;
  font: 900 96px/1.04 'Inter', sans-serif;
  color: #fff;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media (max-width: 767px) {
  .lead__title {
    max-width: 450px;
    font-size: 60px;
  }
}

@media (max-width: 549px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}