.place__paragraph {
  margin: 0 0 26px 0;
  padding: 0;
  font: 400 18px/1.6 'Inter', sans-serif;
  color: #fff;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .place__paragraph {
    max-width: calc(100% - 2*16px);
    margin-left: 16px;
  }
}