.nav__links {
  margin: 0 0 0 18px;
  padding: 0;
}

.nav__links:first-child {
  margin-left: 0;
}

@media (max-width: 767px) {
  .nav__links {
    margin-left: 0;
    margin-bottom: 32px;
  }
  .nav__links:last-child {
    margin-bottom: 0;
  }
}