.lead__subtitle {
  margin: 32px 0 0 0;
  padding: 0;
  max-width: 640px;
  font: 400 30px/1.2 'Inter', sans-serif;
  color: #fff;
  text-align: center;
}

@media (max-width: 767px) {
  .lead__subtitle {
    max-width: 400px;
    margin-top: 20px;
    font-size: 20px;
  }
}

@media (max-width: 549px) {
  .lead__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
}