.place__link {
  font: 400 18px/1.2 'Inter', sans-serif;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  opacity: 1;
  -webkit-transition: opacity .6s ease;
  -o-transition: opacity .6s ease;
  transition: opacity .6s ease;
}

.place__link:hover {
  opacity: .8;
}