.lead__caption {
  margin: 8px 0 0 0;
  padding: 0;
  font: 400 10px/1.4 'Inter', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}