.cover__title {
  margin: 0;
  padding: 0;
  max-width: 560px;
  font: 900 72px/1.05 'Inter', sans-serif;
  color: #fff;
  text-align: center;
  z-index: 2;
}

@media (max-width: 767px) {
  .cover__title {
    max-width: 400px;
    font-size: 54px;
    line-height: 1.1;
  }
}

@media (max-width: 549px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
  }
}