.intro__title {
  margin: 0;
  padding: 0;
  max-width: 690px;
  font: 900 54px/1.07 'Inter', sans-serif;
  color: #fff;
  text-rendering: optimizeLegibility;
}

@media (max-width: 1023px) {
  .intro__title {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 46px;
  }
}

@media (max-width: 549px) {
  .intro__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 1.1;
  }
}